#inExReport{
    background-color: radial-gradient(bottom to top,#2C41AD,#7187f7);
}

ul{
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    font-size: 15px;
    margin: 0;
}

#detialHead{
    background-color: #92AFD7;
    color: white;
    text-align: center;
    position: sticky;
    top:0;
}

#inExReport .inExRow{
    background: linear-gradient(360deg,#2C41AD,  #617bff);
    box-shadow: inset 0px 2px 5px 2px rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    padding: 5px 0;
}

#inExReport .inExRow .dropBox{
    width: 99%;
    margin: 0 auto;
    max-height: 0;
    overflow: auto;
}

#inExReport .inExRow table{
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    cursor: pointer;
}

#inExReport .inExRow table th{
    background-color: #2C41AD;
}

#inExReport .inExRow li{
    text-align: center;
    padding: 0 10px;
}

#inExReport .totalRow{
    width: 100%;
    padding: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

#inExReport .totalRow.duty-report{
    grid-template-columns: auto auto auto auto auto auto;
}

#tbody tr{
    border-bottom: 1px solid #dfdfdf;
}

.second-header-income-expense{
    margin-top: -10px;
    margin-bottom: -10px;
}

.totalRow{
    text-align: center;
}

#inExReport .inExRow li b:first-child{
    font-size: 25px;
}

.dutySubRow{
    display: none;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: rgb(255, 255, 255);
    width: 90%;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgb(8, 8, 8);
    color: #2C41AD;
    overflow: auto;
}

.dutySubRow p{
    margin: 0;
}

#inExReport .dutyReportTable{
    display: none;
    width: 100%;

    grid-column: span 6;
}

.dutySubRow .drpicn i{
    font-size: 40px;
}

.dutyReportTable{
    min-width: 600px;
    overflow: auto;
}

#dutyReportNav div{
    background-color: #2C41AD;

    width: 99%;
    padding: 5px;
    margin: 0 auto;
}

@media(max-width: 800px){
    .dutyReportTable th{
        font-size: 12px;
    }

    .dutyReportTable td{
        font-size: 10px;
    }

    .dutySubRow b{
        font-size: 12px;
    }

    .dutySubRow p{
        font-size: 12px;
    }

    #dutyReportNav div{
        font-size: 13px;
    }
}

@media(max-width: 750px){
    .dutySubRow .drpicn i{
        font-size: 30px;
    }

    #dutyReportNav div{
        font-size: 10px;
    }
}

@media(max-width: 600px){
    .dutyReportTable th{
        font-size: 10px;
    }
}

@media(max-width: 500px){
    #dutyReportNav div{
        font-size: 8px;
    }
}

@media(max-width: 660px){
    h1{
        font-size: 20px;
    }

    h3{
        font-size: 15px;
    }

    #inExReport .inExRow li b:not(:first-child){
        font-size: 13px !important;
    }

    #inExReport .inExRow .totalRow li:not(:first-child){
        font-size: 10px;
    }

    #inExReport .dropBox{
        font-size: 10px;
    }

    #tbody .date{
        font-size: 10px;
    }
}

@media(max-width: 450px){
    #inExReport .inExRow li b:first-child{
        font-size: 15px;
    }

    #inExReport .inExRow li b:not(:first-child){
        font-size: 10px !important;
    }

    #inExReport .inExRow .totalRow li{
        font-size: 10px;
    }

    #dutyReportNav div{
        font-size: 6px;
    }
}

@media(max-width: 400px){
    h1{
        font-size: 10px;
    }

    h3{
        font-size: 20px;
    }

    h4{
        font-size: 15px;
    }

    h5{
        font-size: 15px;
    }

    #inExReport .dropBox{
        font-size: 8px;
    }

    #tbody .date{
        font-size: 8px;
    }

    .totalRow ul{
        font-size: 10px;
    }

    #inExReport .inExRow li{
        padding: 0;
        font-size: 10px;
    }

    #inExReport{
        background-color: radial-gradient(bottom to top,#2C41AD,#7187f7);
    }

    #inExReport .inExRow{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #inExReport .inExRow li b:first-child{
        font-size: 15px;
    }
}

@media(max-width: 360px){
    .dutySubRow b{
        font-size: 8px;
    }

    .dutySubRow .drpicn i{
        font-size: 20px;
    }
}

.monthly-site-fuel-report table{
    white-space: nowrap; 
    table-layout: fixed;
}

.monthly-site-fuel-report table tr td:first-child,.monthly-site-fuel-report table tr th:first-child{
    position: sticky;
    left: 0;
    z-index: 5;
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.monthly-site-fuel-report table tr th:first-child{
    z-index: 30;
}

.monthly-site-fuel-report table tfoot tr td:first-child{
    background-color: #2C41AD;
}

.monthly-site-fuel-report table thead tr th:first-child{
    background-color: #2C41AD;
}

.monthly-site-fuel-report table tbody td{
    background-color: #fff;
}

.monthly-site-fuel-report table td{
    padding: 0 30px;
    border: 1px solid black;

    text-align: center;
}

.monthly-site-fuel-report table tfoot td{
    padding: 10px 0;
    font-weight: bold;
}

.monthly-site-fuel-report table tfoot{
    background-color: #2C41AD;
    color: #fff;
    position: sticky;
    bottom: 0;  
    z-index: 20;
}