<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="{{url_for('static',filename='scripts/jquery.min.js')}}"></script>
    <link href="{{url_for('static',filename='styles/main.css')}}" rel="stylesheet"/>
    {% block styles %} {% endblock %}
    <link rel="icon" type="image/x-icon" href="../static/images/web_logo.png">
    <script src="https://kit.fontawesome.com/10bcaa5c11.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/html-duration-picker@latest/dist/html-duration-picker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title> CPU | {% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg" style="background-color: #2C41AD; box-shadow: 1px 0px 15px .5px rgba(0, 0, 0, 1);position: sticky;top: 0;z-index: 1000;">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">
                <img src="{{url_for('static',filename='images/web_logo.png')}}" width="50px" alt="sitelogo">
            </a>
            <button type="button" class="navbar-toggler me-3 bg-white" data-bs-toggle="collapse" data-bs-target="#nav"><i class="navbar-toggler-icon"></i></button>

            <div id="nav" class="navbar-collapse collapse justify-content-between">
                <ul class="navbar-nav px-3">
                    {% if current_role in [1,2,3,4] %}
                    <li class="nav-item"><a  class="nav-link text-white" href="{{url_for('dash.dash_home')}}" >Dashboard</a></li>
                    {% endif %}
                    {% if current_role not in [5,2] %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Transactions</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{url_for('views.show_transactions',what='duty')}}" >Duty</a></li>
                            <li><a class="dropdown-item" href="{{url_for('views.show_transactions',what='expense')}}">Expense</a></li>
                            <li><a class="dropdown-item" href="{{url_for('views.show_transactions',what='income-expense')}}" >Income & Expense</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{url_for('views.show_transactions',what='machine-activity')}}" >Activities ( Machines )</a></li>
                            <li><a class="dropdown-item" href="{{url_for('views.show_transactions',what='repair-activity')}}" >Activities ( Repair ) </a></li>
                        </ul>
                    </li>
                    {% endif %}
                    {% if current_role not in [5,2] %}
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-auto-close="outside" data-bs-toggle="dropdown" aria-expanded="false">Configurations</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{url_for('views.configurations',what='machine')}}">Machines</a></li>
                            <li><a class="dropdown-item" href="{{url_for('views.configurations',what='project')}}">Projects</a></li>
                            <li><a class="dropdown-item" href="{{url_for('views.configurations',what='project-stat')}}">Project Statistics</a></li>
                            <li><a class="dropdown-item" href="{{url_for('views.configurations',what='unit')}}">Business Units</a></li>
                            <li class="dropend">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">Setups</a>
                                <ul class="dropdown-menu">   
                                    <li><a class="dropdown-item" href="{{url_for('views.configurations',what='employee')}}">Employees</a></li>  
                                    <li><a class="dropdown-item" href="{{url_for('views.configurations',what='employee-group')}}">Employee Group</a></li>  
                                    <li><a class="dropdown-item" href="{{url_for('views.configurations',what='fuel-price')}}">Fuel Prices</a></li> 
                                    <li><a class="dropdown-item" href="{{url_for('views.configurations',what='ajt')}}">Job Types ( Activity )</a></li>    
                                    <li><a class="dropdown-item" href="{{url_for('views.configurations',what='ajf')}}">Job Function ( Activity )</a></li>    
                                </ul>
                            </li> 
                            <li class="dropend">
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">Machine Settings</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{{url_for('views.configurations',what='type')}}">Machine Type</a></li>    
                                    <li><a class="dropdown-item" href="{{url_for('views.configurations',what='class')}}">Machine Class</a></li>  
                                    <li><a class="dropdown-item" href="{{url_for('views.configurations',what='capacity')}}">Machine Capacity</a></li>  
                                    <li><a class="dropdown-item" href="{{url_for('views.configurations',what='brand')}}">Machine Brand</a></li> 
                                    <li><a class="dropdown-item" href="{{url_for('views.configurations',what='owner')}}">Machine Owner</a></li>  
                                </ul>
                            </li>            
                        </ul>
                    </li>
                    {% endif %}
                    {% if current_role  in [1,3,4,5] %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Sites Imports</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{url_for('site_imports.daily_activity',typ='view')}}">Daily Activities</a></li>
                            <li><a class="dropdown-item" href="{{url_for('site_imports.income_expense',typ='view')}}">Incomes & Expenses</a></li>                       
                        </ul>
                    </li>
                    {% endif %}
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle text-white" data-bs-auto-close="outside"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Reports</a>
                        <ul class="dropdown-menu">
                            {% if current_role  in [1,2,3,4] %}
                            <li><a type="button" onclick="showModalAndGiveProjectCodes('monthly',this)" class="dropdown-item"  data-bs-toggle="modal" data-bs-target="#monthlyReport">Monthly</a></li>
                            <li><a class="dropdown-item" onclick="showModalAndGiveProjectCodes('summary',this)" type="button"  data-bs-toggle="modal" data-bs-target="#monthlyReport">Summary</a></li>
                            <li><a class="dropdown-item" onclick="showModalAndGiveProjectCodes('job_type_function',this)" type="button"  data-bs-toggle="modal" data-bs-target="#monthlyReport">Job Type & Job Function</a></li>
                                <li><hr class="dropdown-divider"></li>
                            {% endif %}
                            <li><a href="#" class="dropdown-item income-expense-report" onclick="showModalAndGiveProjectCodes('normal',this)" data-bs-toggle="modal" data-bs-target="#monthlyReport">Income Expense</a></li>
                            <li><a href="#" class="dropdown-item daily-activity-report" onclick="showModalAndGiveProjectCodes('normal',this)" data-bs-toggle="modal" data-bs-target="#monthlyReport">Daily Activity</a></li>
                            <li><a href="#" class="dropdown-item machine-activity-report" onclick="showModalAndGiveProjectCodes('normal',this)" data-bs-toggle="modal" data-bs-target="#monthlyReport">Machine Activity</a></li>
                            <li><a href="#" class="dropdown-item fuel-report" onclick="showModalAndGiveProjectCodes('normal',this)" data-bs-toggle="modal" data-bs-target="#monthlyReport">Fuel</a></li>
                        </ul>
                    </li>
                    {% if current_role == 4 %}
                    <li class="nav-item"><a  class="nav-link text-white" href="{{url_for('auth.admin_panel')}}" >Admin Panel</a></li>
                    {% endif %}
                </ul>
            <form class="d-flex justify-content-center p-2" role="search"  action="{{url_for('auth.logout')}}">
                <input value="Nani" hidden>
                {% if session['cpu_username'] %}
                <span class="navbar-text text-white font-monospace me-3">
                    Hello {{session['cpu_username']}}!!
                </span>
                {% endif %}
                <button class="btn btn-danger" type="submit">Log Out</button>
            </form>
            </div>
        </div>
    </nav>

    <!-- Modal for monthly report -->
    <div class="modal fade" id="monthlyReport" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" style="margin: 0;" id="staticBackdropLabel">Monthly Duty Report</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                    <form action="/duty/get-monthly-duty" class="monthlyformInModal" method="POST">
                        <div class="modal-body">
                            <div class="filters m-3">
                                <div class="dropdown text-center" id="projectInput">
                                    <button class="btn btn-secondary dropdown-toggle button-74 text-white text-center text-wrap" id="own" pjID="False" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        ဆိုဒ်ကုဒ် / ဆိုဒ် အမည် 
                                    </button>
                                    <div class="dropdown-menu business-unit">
                                        <input required type="text" id="pj_id" name="pj_id" style="display: none;">
                                        <input type="text" id="pj_name" name="pj_name" style="display: none;" value=" _&_ ">
                                        <input type="search" id="inputForProjectInMonthly" size="22" autocomplete="off" style="margin-left: 10px;" onkeyup="getShops(this)"/>
                                        <div style="max-height: 150px;overflow-y: auto;display: none;" id="aboveProjectCodes">
                                            {% block project_datas %}
                                            {% endblock %}
                                        </div>                                 
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mb-3">
                                <button class="btn btn-secondary disabled" id="pjCode" style="display: none;">Project Code</button>        
                            </div>
                            <div class="text-center mb-3">
                                <label for="start text-center">Each Machine : </label>
                                <input class="form-check-input ms-3" type="checkbox" name="radioOPtionsCheck" value="class" id="flexRadioGroup1" onchange="checkEachMachineOrAll(this)">
                            </div>
                            <div class="text-center mb-3 d-none">
                                <div class="mb-2">
                                    <label for="start text-center">Start Date : </label>
                                    <input type="date" id="start_date_for_each" class="start_date_for_each" name="start_date_for_each" min="2020-01-01" max="2030-12-31" value="2023-05-11">
                                </div>
                                <div>
                                    <label for="start text-center">End   Date : </label>
                                    <input type="date" id="end_date_for_each" class="end_date_for_each" name="end_date_for_each" min="2020-01-01" max="2030-12-31" onchange="check_or_trace_start_date(this)" value="2023-05-11">
                                </div>
                            </div>
                            <div class="text-center mb-3">
                                <label for="start text-center">Month of Report : </label>
                                <input type="month" id="start" name="start" min="2020-01" max="2030-12" value="2023-05">
                            </div>
                            <div>
                                <strong class="d-flex">Group By Report with </strong>
                                <div class="text-center">
                                    <input class="form-check-input ms-3" type="radio" name="radioOPtions" value="class" id="flexRadioGroup1" checked>
                                    <label class="form-check-label" for="flexRadioGroup1">
                                        Machine Class
                                    </label>
                                    <input class="form-check-input ms-3" type="radio" name="radioOPtions" value="type" id="flexRadioGroup2">
                                    <label class="form-check-label" for="flexRadioGroup2">
                                        Machine Type
                                    </label>
                                    <input class="form-check-input ms-3" type="radio" name="radioOPtions" value="j_type" id="flexRadioGroup2">
                                    <label class="form-check-label" for="flexRadioGroup2">
                                        Job Type
                                    </label>                                    
                                </div>

                                <div class="text-center">
                                    <input class="form-check-input ms-3" type="radio" name="radioOPtions" value="function" id="flexRadioGroup2">
                                    <label class="form-check-label" for="flexRadioGroup2">
                                        Job Function
                                    </label>
                                    <input class="form-check-input ms-3" type="radio" name="radioOPtions" value="capacity" id="flexRadioGroup2">
                                    <label class="form-check-label" for="flexRadioGroup2">
                                        Machine Capacity
                                    </label>                                    
                                </div>

                            </div>
                            <div class="groupby-report">
                                <strong class="d-flex"> Report Fields With </strong>
                                <input class="form-check-input ms-4" type="radio" name="radioOPtionsTwo" value="qty" id="flexRadioField1" checked>
                                <label class="form-check-label" for="flexRadioField1">
                                    Duty
                                </label>
                                <input class="form-check-input ms-3" type="radio" name="radioOPtionsTwo" value="price" id="flexRadioField2" >
                                <label class="form-check-label" for="flexRadioField2">
                                    Price
                                </label>
                                <input class="form-check-input ms-3" type="radio" name="radioOPtionsTwo" value="consumption" id="flexRadioField2" >
                                <label class="form-check-label" for="flexRadioField2">
                                    Consumption Report
                                </label>
                            </div>
                            <div class="text-center mt-3" id="only-one-date-div">
                                <div class="mb-2">
                                    <label for="only-one-date"> ရက်စွဲ : </label>
                                    <input type="date"  id="only-one-date" name="only-one-date" class="only-one-date">
                                </div>
                            </div>
                            <div id="date-input-modal" class="text-center  mb-3">
                                <div class="mb-2">
                                    <label for="start text-center"> ရက်စွဲ : </label>
                                    <input  type="text" required id="date_for_each" class="datepicker-custom-input" autocomplete="off" placeholder="dd/mm/yyyy" name="date_for_import" value="">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit"  class="btn btn-primary">Generate Report</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>

    <!-- Export Modal -->
    <div class="modal fade" id="exportStaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" action="{{url_for('exports.download_data')}}">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Export Data</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="filters m-3">
                            <div class="dropdown text-center">
                                <button class="btn btn-secondary dropdown-toggle button-74 text-white text-center text-wrap" id="own" pjID="False" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Project Name & Project Code
                                </button>
                                <div class="dropdown-menu business-unit">
                                    <input type="text" id="pj_id" name="pj_id" style="display: none;">
                                    <input type="text" id="pj_name" name="pj_name" style="display: none;" value=" _&_ ">
                                    <input type="search" id="inputForProjectInMonthly" size="22" autocomplete="off" style="margin-left: 10px;" onkeyup="getShops(this)"/>
                                    <div style="max-height: 150px;overflow-y: auto;display: none;" id="aboveProjectCodesForExport">
                                        {% block project_export_datas %}{% endblock %}
                                    </div>                                 
                                </div>
                            </div>
                        </div>
                        <div class="text-center mb-3">
                            <div class="mb-2">
                                <label for="start text-center">Start Date : </label>
                                <input type="date" id="start" class="start_date_for_each" name="start_date_for_each" min="2020-01-01" max="2030-12-31" value="2023-05-11">
                            </div>
                            <input type="text" value="" name="db_model" id="db_model" hidden>
                            <div>
                                <label for="start text-center">End   Date : </label>
                                <input type="date" id="start" class="end_date_for_each" name="end_date_for_each" min="2020-01-01" max="2030-12-31" onchange="check_or_trace_start_date(this)" value="2023-05-11">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Download</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Import Modal -->
    <div class="modal fade" id="importStaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" style="margin: 0;" id="staticBackdropLabel">Upload Excel File</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="POST" action="/upload-machine-details" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="m-4">
                            <div class="form-group w-100">
                                <input type="file"  required class="form-control" name="upload_excel_machine_details">
                            </div>
                        </div>
                        <div class="m-4">
                            <select class="form-select form-select" name="selectedOption"  required aria-label=".form-select-sm example">
                                <option value="" disabled selected>Please Select Excel Import File</option>                               
                                <option value="1">Machine List</option>
                                <option value="2">Machine Details</option>
                                <option value="3">Project Code</option>
                                <option value="4">Work Done</option>
                            </select>
                        </div>                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success btn-block">Upload Excel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Message Modal -->
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal" id="autoClicker"></button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-danger-emphasis" id="exampleModalLabel">User Error</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalUserWarn">
                    <strong>
                        {% block mgsContent %}{% endblock %}
                    </strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}
</body> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <!-- Include the SheetJS library using CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.3/xlsx.full.min.js"></script>
    <script src="{{url_for('static',filename='scripts/home.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
</html>