{% extends 'base.html' %}
{% block title %} Configurations {% endblock %}
{% block content %}

{# {% if what not in ('employee','ajt','ajf','fuel-price','employee-group','type','class','capacity','brand','owner') %}  #}

<!-- <div class="col-md-12 px-3 mt-1 mb-3" style="margin-top:70px;">
    <form method="POST" action="/upload-machine-details" enctype="multipart/form-data">
        <h3 class="page-header text-primary">Upload Excel File</h3>
        <div class="conatiner">
            <div class="row">
                <div class="col-md-4 col-sm-12 mb-2">
                    <div class="form-group w-100">
                        <input type="file"  required class="form-control" name="upload_excel_machine_details">
                    </div>
                    </div>
                    <div class="col-md-4 col-sm-12 mb-2">
                        <select class="form-select form-select" name="selectedOption"  required aria-label=".form-select-sm example">
                            <option value="Machine List" {% if extra_datas[0] == 'Machine List'%}selected{% endif %}>Machine List</option>
                            <option value="Machine Details" {% if extra_datas[0] == 'Machine Details'%}selected{% endif %}>Machine Details</option>
                            <option value="Project Code" {% if extra_datas[0] == 'Project List'%}selected{% endif %}>Project Code</option>
                            <option value="Work Done">Work Done</option>
                        </select>
                    </div>
                    <div class="col">
                    <button type="submit" class="btn btn-success btn-block">Upload Excel</button>
                </div>
            </div>
        </div>
    </form>
</div> -->
{# {% endif %} #}

<datalist id="projectList">
    {% for data in project_datas %}
        <option value="{{data[2]}}" getId="{{data[0]}}">
    {% endfor %}
</datalist>

<h1 class="text-center mt-2">{{extra_datas[0]}} Table</h1>

<form action="{{url_for('views.configurations',what=extra_datas[0])}}" method="POST" id="edit-configuration-form-sth">
    <input hidden name="edit-id" id="edit-id" value="">
</form>

    <div class="text-center m-3">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center mb-2">
                <form action="{{url_for('views.configurations',what='search')}}" method="post" role="search">
                    <!-- <div class="input-group">
                        <input type="text" name="for-what" hidden value="{{what}}">
                        <input autocomplete="off" class="form-control"  type="search" name="search-value" placeholder="Search" aria-label="Search">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div> -->
                    {% if extra_datas[0] == 'Project List' %}
                    <div class="">
                        <input type="text" name="for-what" hidden value="{{what}}">
                        <!-- search filter features start -->
                        <button type="button dropdown-toggle" data-bs-toggle="dropdown" class="btn btn-primary ms-1 rounded-2">Search Filter</button>
                        <div class="dropdown-menu p-3 w-25" style="font-size: 13px;">
                            <div class="d-flex row">
                                <div class="col-6 mt-1">
                                    <label for="siteCode" class="mb-1">ဆိုဒ်ကုဒ်/ဆိုဒ် အမည်</label>
                                    <input type="text" list="projectList" autocomplete="off" name="pj-name" class="form-control">
                                </div>
                                <div class="col-6 mt-1">
                                    <label for="" class="mb-1">Project Group</label>
                                    <input type="text" autocomplete="off" name="pj-group" class="form-control">
                                </div>
                                <div class="col-6 mt-1">
                                    <label for="" class="mb-1">Project Type</label>
                                    <input type="text" autocomplete="off" name="pj-type" class="form-control">
                                </div>
                                <div class="col-6 mt-1">
                                    <label for="" class="mb-1">Business Unit</label>
                                    <input type="text" autocomplete="off" name="unit" class="form-control">
                                </div>
                                <div class="col-12 mt-3">
                                    <button type="" class="btn btn-success form-control">Search</button>
                                </div>
                            </div>
                        </div>
                        <!-- search filter features end -->
                    </div>
                    {% elif extra_datas[0] == 'Machine List' %}
                    <div class="">
                        <input type="text" name="for-what" hidden value="{{what}}">
                        <!-- search filter features start -->
                        <button type="button dropdown-toggle" data-bs-toggle="dropdown" class="btn btn-primary ms-1 rounded-2">Search Filter</button>
                        <div class="dropdown-menu p-2 w-25" style="font-size: 13px;">
                            <div class="d-flex row">
                                <div class="col-6 mt-1">
                                    <label for="" class="mb-1">Current Project</label>
                                    <input type="text" list="projectList" name="pj-name"  class="form-control">
                                </div>
                                <div class="col-6 mt-1">
                                    <label for="" class="mb-1">Machine Name</label>
                                    <input type="text" name="name" class="form-control">
                                </div>
                                <div class="col-6 mt-1">
                                    <label for="" class="mb-1">Type</label>
                                    <input type="text" name="type" class="form-control">
                                </div>
                                <div class="col-6 mt-1">
                                    <label for="" class="mb-1">Class</label>
                                    <input type="text" name="class" class="form-control">
                                </div>
                                <div class="col-6 mt-1">
                                    <label for="" class="mb-1">Unit</label>
                                    <input type="text" name="unit" class="form-control">
                                </div>
                                <div class="col-6 mt-1">
                                    <label for="" class="mb-1">Capacity</label>
                                    <input type="text" name="capacity" class="form-control">
                                </div>
                                <div class="col-6 mt-1">
                                    <label for="" class="mb-1">Brand</label>
                                    <input type="text" name="brand" class="form-control">
                                </div>
                                <div class="col-6 mt-1">
                                    <label for="" class="mb-1">Owner</label>
                                    <input type="text" name="owner" class="form-control">
                                </div>
                                <div class="col-12 mt-3">
                                    <button type="" class="btn btn-success form-control">Search</button>
                                </div>
                            </div>
                        </div>
                        <!-- search filter features end -->
                    </div>
                    {% elif extra_datas[0] == 'Project Statistics' %}
                    <div class="">
                        <input type="text" name="for-what" hidden value="{{what}}">
                        <!-- search filter features start -->
                        <button type="button dropdown-toggle" data-bs-toggle="dropdown" class="btn btn-primary ms-1 rounded-2">Search Filter</button>
                        <div class="dropdown-menu p-2 w-25" style="font-size: 13px;">
                            <div class="d-flex row">
                                <div class="col-6 mt-1">
                                    <label for="" class="mb-1">Project Name / Code</label>
                                    <input type="text" list="projectList" name="pj-name" class="form-control">
                                </div>
                                <div class="col-6 mt-1">
                                    <label for="" class="mb-1">Supervisor</label>
                                    <input type="text" name="supervisor" class="form-control">
                                </div>
                                <div class="col-6 mt-1">
                                    <label for="" class="mb-1">Location</label>
                                    <input type="text" name="location" class="form-control">
                                </div>    
                                <div class="col-6 mt-1">
                                    <label for="" class="mb-1">Start Date</label>
                                    <input type="date" name="start-dt" class="form-control">
                                </div>                                                           
                                <div class="col-12 mt-2">
                                    <button type="" class="btn btn-success form-control">Search</button>
                                </div>
                            </div>
                        </div>
                        <!-- search filter features end -->
                    </div>
                    {% else %}
                    <div class="input-group">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-primary rounded-2" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                    {% endif %}
                </form>
                <button class="btn btn-secondary text-white mx-2"><i class="fa-solid fa-download"></i></button>
                <button  data-bs-toggle="modal" data-bs-target="#importStaticBackdrop" class="btn btn-secondary text-white mx-2"><i class="fa-solid fa-file-import"></i></button>
                {% if what not in ('employee','ajt','ajf','fuel-price','employee-group','type','class','unit','capacity','brand','owner') %}
                    <a class="nav-item" href="{{url_for('imports.import_data',what=what)}}"><button class="btn btn-success">Create</button></a>
                {% else %}
                    <button class="btn btn-success ms-2" id="createBtn" onclick="createEmp(this)">Create</button>
                    <button class="btn btn-danger ms-2 d-none" id="discardBtn" onclick="discardEmp(this)">Discard</button>
                {% endif %}
                </div>
            {% if not extra_datas[1] %}
            <div class="col-md-6 col-sm-12">
                <div class="flex-end">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" onclick="clickPagination(this,'{{what}}','prev')" class="btn btn-primary">Prev</button>
                        <button type="button" class="btn btn-outline-dark" disabled> 1- {% if extra_datas[2] >= 81 %} 81 {% else %} {{extra_datas[2]}} {% endif %} / {{extra_datas[2]}}</button>
                        <button type="button" onclick="clickPagination(this,'{{what}}','next')" class="btn btn-primary">Next</button>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

{% if extra_datas[0] == 'Project List' %}
<div class="cpu-table-sec machine-data-container">
    <table>
        <thead>
            <tr>
                <th>Project Code</th>
                <th>Project Name</th>
                <th>Project Group</th>
                <th>Project Type</th>
                <th>Business Unit</th>
            </tr>
        </thead>
        <tbody>
        {% for pj_data in datas %}
        <tr class="pj-data-changeable" onclick="redirectToProjectStatForm('edit-id','edit-configuration-form-sth','{{pj_data[5]}}')">
            <td class="text-start">{{pj_data[0]}}</td>
            <td class="text-start">{{pj_data[1]}}</td>
            <td class="text-start">{{pj_data[2]}}</td>
            <td class="text-start">{{pj_data[3]}}</td>
            <td class="text-start">{{pj_data[4]}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% elif extra_datas[0] == 'Machine List' %}

<div class="cpu-table-sec machine-data-container">
    <table>
        <thead>
        <tr>
            <th>Current Project</th>
            <th>Name</th>
            <th>Type</th>
            <th>Class</th>
            <th>Unit</th>
            <th>Capacity</th>
            <th>Brand</th>
            <th>Owner</th>
        </tr>
        </thead>
        <tbody>
        {% for machine_data in datas %}
        <tr id="{{machine_data[8]}}" class="machine-list-changeable"  onclick="redirectToProjectStatForm('edit-id','edit-configuration-form-sth','{{machine_data[8]}}')">
            <td class="text-start">{{machine_data[0]}}</td>
            <td class="text-start">{{machine_data[1]}}</td>
            <td class="text-start">{{machine_data[2]}}</td>
            <td class="text-start">{{machine_data[3]}}</td>
            <td class="text-start">{{machine_data[4]}}</td>
            <td class="text-start">{{machine_data[5]}}</td>
            <td class="text-start">{{machine_data[6]}}</td>
            <td class="text-start">{{machine_data[7]}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% elif extra_datas[0] == 'Project Statistics' %}

<div class="cpu-table-sec machine-data-container">
    <form id="hidden-project-stat-form" action="{{url_for('imports.import_data',what='project_stat_form')}}" method="post">
        <input type="number" name="project_id" id="hidden-project-id" value="" hidden>
    </form>
    <table>
        <thead>
            <tr>
                <th>အမည်</th>
                <th>ကုဒ်</th>
                <th>တာဝန်ခံ</th>
                <th>တည်နေရာ</th>
                <th>စတင်ရက်</th>
                <th>ပမာဏပေ</th>
                <th>ပမာဏကျင်း</th>
                <th>ဆောင်ရွက်မည့်ကျင်း</th>
                <th>ခန့်မှန်း ဂျူတီ</th>
                <th>ခန့်မှန်း ဆီ</th>
                <th>ခန့်မှန်း အသုံးစရိတ်</th>
                <th>ခန့်မှန်း ကြာချိန်</th>
            </tr>
        </thead>
        <tbody>
        {% for machine_data in datas %}
        <tr class="pj-stat-list-changeable" onclick="redirectToProjectStatForm('hidden-project-id','hidden-project-stat-form','{{machine_data[0]}}')">
            {% for data in machine_data[1:6] %}
                <td class="text-start">{{data}}</td>
            {% endfor %}
            {% for data in machine_data[6:] %}
                <td class="text-end">{{data}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% elif extra_datas[0] == 'Fuel Prices' %}

<form action="{{url_for('imports.import_data',what=what)}}" method="post">
    <div class="container-fluid">
        <div class="cpu-table-sec">
            <table>
                <thead>
                    <tr>
                        <th>Price</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="d-none" id="emplyInp">
                        <td><input type="number" step="any" autocomplete="off" required  name="sthPrice"></td>
                        <td><input type="date" autocomplete="off" required  name="sthDate"></td>
                        <td><button class="btn btn-success rounded-0" type="submit">Save</button></td>
                    </tr>
                    {% for data in datas %}
                    <tr>
                        <td>{{data[3]}}</td>
                        <td>{{data[1]}}</td>
                        <td>{{data[2]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</form>

{% elif extra_datas[0] == 'Employee Group' %}

<form action="{{url_for('imports.import_data',what=what)}}" method="post">
    <div class="container-fluid">
        <div class="cpu-table-sec">
            <table>
                <thead>
                    <tr>
                        <th>Group Name</th>
                        <th> # </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="d-none" id="emplyInp">
                        <td><input type="text" required autocomplete="off" name="group"></td>
                        <td><button class="btn btn-success rounded-0" type="submit">Save</button></td>
                    </tr>
                    {% for data in datas %}
                    <tr>
                        <td>{{data[1]}}</td>
                        <td><button class="btn btn-danger rounded-0" type="button">Delete</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</form>

{% elif extra_datas[0] == 'Employee' %}

<form action="{{url_for('imports.import_data',what='emp')}}" method="post">
    <div class="container-fluid">
        <div class="cpu-table-sec">
            <table>
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Inactive</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="d-none" id="emplyInp">
                        <td><input type="number" min="0" max="9999" required name="code"></td>
                        <td><input type="text" required name="empName"></td>
                        <td> 
                            <select name="emp_gp">
                                {% for data in extra_datas[3] %}
                                    <option value="{{data[0]}}">{{data[1]}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><button class="btn btn-success rounded-0" type="submit">Save</button></td>
                    </tr>
                    {% for data in datas %}
                    <tr>
                        <td>{{data[1]}}</td>
                        <td>{{data[2]}}</td>
                        <td>{{data[3]}}</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</form>

{% elif what in ('ajt','ajf','type','class','unit','capacity','brand','owner') %}

<form action="{{url_for('imports.import_data',what=what)}}" id="configCrudForm" method="post">
    <input type="text" name="crud" id="crud" value="create" hidden/>
    <input type="text" name="sthName" value="" hidden id="sthName"/>
    <input type="number" hidden name="sthId" id="sthId" value="">
</form>
    <div class="container-fluid">
        <div class="cpu-table-sec">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="d-none" id="emplyInp">
                        <td><input type="text" class="requiredInpInForm" onchange="replaceTextValueInForm(this,'sthName')" required name="sthName"></td>
                        <td><button class="btn btn-success rounded-0" onclick="replaceValueInForm('create',0,'crud','sthId','configCrudForm')" type="button">Save</button></td>
                    </tr>
                    {% for data in datas %}
                    <tr>
                        <td idData="{{data[0]}}" ondblclick="editDataShowInput(this)">
                            <p>{{data[1]}}</p>
                        </td>
                        <td>
                            <button onclick="replaceValueInForm('delete','{{data[0]}}','crud','sthId','configCrudForm')" class="btn btn-danger rounded-0" onclick="changeValueInCrudInput('delete')"  type="submit">Remove</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</form>

{% endif %}

{% endblock %}

{% block project_datas %}
    {% for data in project_datas %}
        <p class="m-1 ms-2" shopid="{{data[0]}}" projectcode="{{data[1]}}" onclick="assignShop(this)">{{data[2]}} _&_ {{data[1]}}</p>
    {% endfor %}
{% endblock %}

{% block project_export_datas %}
    {% for data in project_datas %}
        <p class="m-1 ms-2" shopid="{{data[0]}}" projectcode="{{data[1]}}" onclick="assignShop(this)">{{data[2]}} _&_ {{data[1]}}</p>
    {% endfor %}
{% endblock %}

{% block mgsContent %}{{ mgs | safe }}{% endblock %}