{% extends 'base.html' %}
{% block title %} Daily Activities Import {% endblock %}
{% block styles %}
    <link href="{{url_for('static',filename='styles/daily-table.css')}}" rel="stylesheet"/>
    <script src="{{url_for('static',filename='scripts/site-imports.js')}}"></script>
{% endblock %}
{% block content %}

{% if template_type == 'create' %}
    <datalist id="machineData">
        {% for data in machine_datas %}
            <option value="{{data[0]}}" getId="{{data[1]}}">
        {% endfor %}
    </datalist>
    <datalist id="jobTypeData">
        {% for data in activity_jobs[0] %}
            <option value="{{data[0]}}" getId="{{data[1]}}">
        {% endfor %}
    </datalist>
    <datalist id="jobFunctionData">
        {% for data in activity_jobs[1] %}
            <option value="{{data[0]}}" getId="{{data[1]}}">
        {% endfor %}
    </datalist>
    <div class="body-for-daily-table">
        <h3>‌နေ့စဥ်လုပ်ဆောင်ချက်<i class="fa-solid fa-minus plus-sign" onclick="showUnderDisplay(this)"></i></h3>
        <form action="{{url_for('imports.site_imports',typ='daily-activity')}}" method="post">
            <!-- project status -->
            <section class="project-status-section add-table">
                <div class="first-div">
                    <span>ဆိုဒ်အခြေအနေ</span>
                        <label for="working">လုပ်နေသည်
                            <input checked type="radio" value="working" name="work" id="working" autocomplete="off" onchange="notWork(this)">
                        </label>
                        <label for="notWorking">ရပ်ထားသည်
                            <input type="radio" value="notWorking" name="work" id="notWorking" autocomplete="off" onchange="notWork(this)">
                        </label>
                        <input type="text" placeholder="အလုပ်မလုပ်သောအကြောင်းအရာ" name="reason-for-not-working" autocomplete="off" id="notWorkingInput"><br>
                </div>
                <div class="sec-div">
                    <span>နေ့စွဲ</span>
                    <span>- <input type="date" value="{{extra_datas[0]}}" id="set_date" name="set_date"></span>
                </div>
            </section>
            <!-- xxx -->
            <h3>ဆိုဒ်အသေးစိတ်အချက်အလက်<i class="fa-solid fa-minus plus-sign" onclick="showUnderDisplay(this)"></i></h3>
            <section class="project-details-section add-table" id="projectDetailSec">
                <label class="label" style="display: block;">ဆိုဒ်ကုတ်</label>
                <span id="hoAcName">- {{form_datas[0]}}</span>

                <label class="label" style="display: block;">ဆိုဒ်အမည်</label>
                <span id="prjName" class="text-wrap" title="{{form_datas[2]}}">- {{form_datas[2]}}</span>
                
                <label class="label" style="display: block;">ဆိုဒ်တည်နေရာ</label>
                <span id="prjLoca">- {{form_datas[3]}}</span>

                <label class="label" style="display: block;">ဆိုဒ်စတင်ရက်</label>
                <span id="prjDate">- {{form_datas[4]}}</span>

                <label class="label" style="display: block;">ကြီးကြပ်ရေးမှုး</label>
                <span id="sprVisor">- {{form_datas[5]}}</span>

                <input type="number"  value="{{form_datas[12]}}" style="display: none;"  class="leePalKwar" name="pj_id">
            </section>
            <!-- xxx -->
            <!-- Affects of Weather On Project -->
            <h3>ရာသီဥတုအခြေအနေ<i class="fa-solid fa-plus plus-sign" onclick="showUnderDisplay(this)"></i></h3>
            <section class="weather add-table toggle-table" id="weather" onchange="selection()">
                <span>နေသာသည်</span>
                <input type="checkbox" autocomplete="off" required id="noAff">
                <span>ရာသီဥတုသက်ရောက်မှုရာခိုင်နှုန်း</span>
                <input type="number" placeholder="%" autocomplete="off" required id="affPer">
                <span>မိုးရွာသည်</span>
                <input type="checkbox" autocomplete="off" required id="affAll">
                <input type="number" required hidden id="wealtherAff" name="wealtherAff">
            </section>
                        
            <!-- xxx -->
            <h3>ခန့်မှန်းချက် နှင့် ရလဒ်<i class="fa-solid fa-plus plus-sign" onclick="showUnderDisplay(this)"></i></h3>
            <table class="estimate-result-table add-table toggle-table">
                <thead>
                    <tr>
                        <th>အကြောင်းအရာ</th>
                        <th>ခန့်မှန်းချက်</th>
                        <th>ပြီးစီးမှု</th>
                        <th>လက်ကျန်</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ကြာချိန် ( ရက် ) </td>
                        <td>{{form_datas[6]}}</td>
                        <td>0</td>
                        <td>{{form_datas[6]}}</td>
                    </tr>
                    <tr>
                        <td>ပေ</td>
                        <td>{{form_datas[7]}}</td>
                        <td class="d-none">{{history_datas[0]}}</td>
                        <td><input  type="number" name="completeFeet" {% if form_datas[7] == 0.0 %} value="0.0" {% endif %} onchange="calculateInlineValue(this)" step=".01" autocomplete="off" required></td>
                        <td>{{form_datas[7] - history_datas[0]}}</td>
                    </tr>
                    <tr>
                        <td>ကျင်း</td>
                        <td>{{form_datas[8]}}</td>
                        <td class="d-none">{{history_datas[1]}}</td>
                        <td><input type="number" name="completeSud" {% if form_datas[7] == 0.0 %} value="0.0" {% endif %} onchange="calculateInlineValue(this)" step=".01" autocomplete="off" required></td>
                        <td>{{form_datas[8] - history_datas[1]}}</td>
                    </tr>
                    <tr>
                        <td>ဂျူတီ နာရီ</td>
                        <td class="traceHour">{{form_datas[9]}}</td>
                        <td class="d-none traceHour">{{history_datas[2]}}</td>   
                        <td class="d-none traceHour"><input value="" class="calculatedtraceHour" onchange="calculateInlineValueFromOther(this,'traceHour')"></td>                
                        <td class="traceHour">0</td>
                        <td class="traceHour">{{form_datas[9] - history_datas[2]}}</td>
                    </tr>
                    <tr>
                        <td>ဒီဇယ် ( လီတာ )</td>
                        <td class="traceFuel">{{form_datas[10]}}</td>
                        <td class="d-none traceFuel">{{history_datas[3]}}</td>
                        <td class="d-none traceFuel"><input value="" class="calculatedtraceFuel" oninput="calculateInlineValueFromOther(this,'traceFuel')"></td>
                        <td class="traceFuel">0</td>
                        <td class="traceFuel">{{form_datas[10] - history_datas[3]}}</td>
                    </tr>
                    <tr>
                        <td>စုစုပေါင်း အသုံးစရိတ်</td>
                        <td>{{form_datas[11]}}</td>
                        <td>{{history_datas[4]}}</td>
                        <td>{{form_datas[11] - history_datas[4]}}</td>
                    </tr>
                </tbody>
            </table>
            <!-- xxx -->
            <h3>လုပ်ဆောင်ချက်<i class="fa-solid fa-plus plus-sign" onclick="showUnderDisplay(this)"></i></h3>
            <div class="activities-table add-table toggle-table">
                <table>
                    <thead>
                        <tr>
                            <th>စဉ်</th>
                            <th>စက်</th>
                            <th>အလုပ်အမျိုးအစား</th>
                            <th>အလုပ်လုပ်ဆောင်ချက်</th>
                            <th>အခေါက်ရေ</th>
                            <th>အလုပ်ချိန်</th>
                            <th>လီတာ</th>
                            <th>မှတ်ချက်</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="activitiesTable">
                        <tr>
                            <td>1</td>
                            <td><input type="text" class="notWorkInputActi" required name="machine_id" autocomplete="off" hidden><input type="text" id="toCheckDuty" list="machineData" autocomplete="off" style="width: 150px;" onchange="checkValidMachine(this,'machineData')"></td>
                            <td><input type="text" class="notWorkInputActi" required name="job_type_id" autocomplete="off" hidden><input type="text"  list="jobTypeData" autocomplete="off" style="width: 150px;" onchange="checkValidMachine(this,'jobTypeData')"></td>
                            <td><input type="text" class="notWorkInputActi" required name="job_function_id" autocomplete="off" hidden><input type="text"  list="jobFunctionData" autocomplete="off" style="width: 150px;" onchange="checkValidMachine(this,'jobFunctionData')"></td>
                            <td><input type="number" class="notWorkInputActi" step="any" name="ways" autocomplete="off" value="0"></td>
                            <td class="duty-hour hourValueActivity"><input type="number" placeholder="hour" onchange="checkHour(this)" id="dutyHour" name="dutyHour" autocomplete="off" class="notWorkInputActi" required>:<input type="number" class="notWorkInputActi" name="dutyMin"  placeholder="min" onchange="checkMin(this)" id="dutyMin" autocomplete="off" required></td>
                            <td><input type="number" step="any" class="notWorkInputActi fuelValueActivity" onchange="addValueToTraceFuel('fuelValueActivity','activitiesTable','calculatedtraceFuel','traceFuel')"   style="width: 80px;" name="used_fuel"  autocomplete="off" required></td>
                            <td><input type="text"  name="description" autocomplete="off"></td>
                            <td><button type="button" onclick="deleteRow(this)" class="btn btn-outline-danger"><i class="fa-solid fa-trash trash-icon"></i></button></td>
                        </tr>
                        <tr class="add-btn">
                            <td class="activityBtn"><button onclick="newRow(this)"  type="button">+</button></td>
                        </tr>
                        <tr class="d-none">
                            <td>1</td>
                            <td><input type="text" class="shouldRequired" name="machine_id" autocomplete="off" hidden><input id="toCheckDuty" type="text" list="machineData" autocomplete="off" style="width: 150px;" onchange="checkValidMachine(this,'machineData')"></td>
                            <td><input type="text" class="shouldRequired" name="job_type_id" autocomplete="off" hidden><input type="text" list="jobTypeData" autocomplete="off" style="width: 150px;" onchange="checkValidMachine(this,'jobTypeData')"></td>
                            <td><input type="text" class="shouldRequired" name="job_function_id" autocomplete="off" hidden><input type="text" list="jobFunctionData" autocomplete="off" style="width: 150px;" onchange="checkValidMachine(this,'jobFunctionData')"></td>
                            <td><input type="number" step="any" name="ways" value="0" autocomplete="off"></td>
                            <td class="duty-hour hourValueActivity"><input type="number" placeholder="hour" onchange="checkHour(this)" id="dutyHour" name="dutyHour" autocomplete="off" class="shouldRequired">:<input type="number" name="dutyMin"  placeholder="min" onchange="checkMin(this)" id="dutyMin" autocomplete="off" class="shouldRequired"></td>
                            <td><input type="number" step="any"  style="width: 80px;" name="used_fuel"  autocomplete="off" class="shouldRequired fuelValueActivity" onchange="addValueToTraceFuel('fuelValueActivity','activitiesTable','calculatedtraceFuel','traceFuel')"></td>
                            <td><input type="text" name="description" autocomplete="off"></td>
                            <td><button type="button" onclick="deleteRow(this)" class="btn btn-outline-danger"><i class="fa-solid fa-trash trash-icon"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- xxx -->
            <h3>လုပ်သားဦးရေ နှင့် စက်ပစ္စည်း<i class="fa-solid fa-plus plus-sign" onclick="showUnderDisplay(this)"></i></h3>
            <div class="manpower add-table toggle-table">
                <table id="acc-table" class="manpower-equiment-table">
                    <thead>
                        <tr>
                            <th colspan="3">လုပ်သားဦးရေ</th>
                            <th colspan="3">စက်ပစ္စည်း</th>
                        </tr>
                    </thead>
                    <tbody id="manpowerTable">
                        <tr>
                            <td>ရာထူး</td>
                            <td>ဆိုဒ်ထဲရှိလူဦးရေ</td>
                            <td>အလုပ်လုပ်သည့် လူဦးရေ</td>
                            <td>စက်ပစ္စည်း အမျိုးအစား</td>
                            <td>ဆိုဒ်ထဲရှိ စက် အရေအတွက်</td>
                            <td>အလုပ်လုပ်သည့် စက် အရေအတွက်</td>
                        </tr>
                        {% for data in extra_datas[1] %}
                        <tr>
                            <td>{{data[0][0]}}</td>
                            <td>{% if data[0][0] != '' %} {{data[0][1]}} {% endif %}</td>
                            <td>
                                {% if data[0][0] == 'Total' %}
                                <p id="manpower_amt">0</p>
                                {% else %}
                                <input onchange="checkInpNumber(this,0,'{{data[0][1]}}')" {% if data[0][0] == "" or data[0][0] == 'Total' %} hidden {% else %} name="manpower_amt" class="manpower_amt" required {% endif %} type="number" autocomplete="off">                                
                                {% endif %}                               
                                <input type="number" value="{{data[0][2]}}" {% if data[0][2] != 0 %} name="manpower_id" {% endif %} hidden/>
                            </td>
                            <td>{{data[1][0]}}</td>
                            <td>{% if data[1][0] != '' %} {{data[1][1]}} {% endif %}</td>
                            <td>
                                {% if data[1][0] == 'Total' %}
                                <p id="type_amt">0</p>
                                {% else %}
                                <input onchange="checkInpNumber(this,0,'{{data[1][1]}}')" type="number" {% if data[1][0] == "" or data[1][0] == 'Total' %} hidden {% else %} required name="type_amt" class="type_amt" {% endif %} autocomplete="off">                                
                                {% endif %}
                                <input type="number" value="{{data[1][2]}}" {% if data[1][2] != 0 %} name="type_id" {% endif %}  hidden/>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- repair & maintainance -->
            <h3>စက်ပြုပြင်စာရင်း<i class="fa-solid fa-plus plus-sign" onclick="showUnderDisplay(this)"></i></h3>
            <div class="activities-table add-table toggle-table">
                <table>
                    <thead>
                        <tr>
                            <th>စဉ်</th>
                            <th>စက်ပစ္စည်း အမျိုးအစား</th>
                            <th>အကြောင်းအရာ</th>
                            <th>ထိခိုက်မှု</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody  id="repairTable">
                        <tr>
                            <td>1</td>
                            <td><input type="text" name="acc_machine_id" autocomplete="off" hidden><input type="text" list="machineData" autocomplete="off" style="width: 100%;" onchange="checkValidMachine(this,'machineData')"></td>
                            <td><input type="text" autocomplete="off"  name="acc_description" style="width: 100%;"></td>
                            <td><input type="checkbox" onchange="addValueToCheckBox(this)" value="0" ><input hidden type="number" value="0" name="hasAccident"></td>
                            <td><button type="button" onclick="deleteRow(this)" class="btn btn-outline-danger"><i class="fa-solid fa-trash trash-icon"></i></button></td>
                        </tr>
                        <tr class="add-btn">
                            <td class="repairBtn"><button onclick="newRow(this)"  type="button">+</button></td>
                        </tr>
                        <tr class="d-none">
                            <td>1</td>
                            <td><input type="text"  name="acc_machine_id" autocomplete="off" hidden><input type="text" list="machineData" autocomplete="off" style="width: 100%;" onchange="checkValidMachine(this,'machineData')"></td>
                            <td><input type="text"  name="acc_description"></td>
                            <td><input type="checkbox"  onchange="addValueToCheckBox(this)" value="0" ><input hidden type="number"  value="0" name="hasAccident"></td>
                            <td><button type="button" onclick="deleteRow(this)" class="btn btn-outline-danger"><i class="fa-solid fa-trash trash-icon"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="text-center mb-4">
                <button class="btn btn-success" type="submit">အတည်ပြုရန်</button>
                <a href="{{url_for('site_imports.daily_activity',typ='view')}}" class="nav-item"><button type="button"  class="btn btn-dark ms-3shadow-sm">မလုပ်ဆောင်တော့ပါ</button></a>
            </div>
        </form>
    </div>

{% elif template_type == 'view' %}

    <form id="hidden-income-expense-form" action="{{url_for('imports.import_data',what='daily_activity_edit_form')}}" method="post">
        <input type="number" name="income_expense_id" id="hidden-income-expense-id" value="" hidden>
    </form>
    <h4 class="text-center mt-3">နေ့စဉ် လုပ်ငန်းဆောင်တာပြ စာရင်းဇယား</h4>
    
    <div class="text-center m-3">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center">
                <form role="search">
                    <div class="input-group">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </form>
                <button class="btn btn-secondary text-white mx-2"><i class="fa-solid fa-download"></i></button>
                <button id="chooseProjectBeforeCreateForm" onclick="showModalAndGiveProjectCodes('remove-date')" data-bs-toggle="modal" data-bs-target="#monthlyReport" class="btn btn-success text-white ms-2 daily-activity">ဖန်တီးပါ</button>
            </div>
            <div class="col-md-6 col-sm-12 text-end mt-2">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" onclick="clickPagination(this,'pj','prev')" class="btn btn-primary">ရှေ့သို့</button>
                    <button type="button" class="btn btn-outline-dark" disabled> 1- {% if extra_datas[0][0] >= 81 %} 81 {% else %} {{extra_datas[0][0]}} {% endif %} / {{extra_datas[0][0]}}</button>
                    <button type="button" onclick="clickPagination(this,'pj','next')" class="btn btn-primary">နောက်သို့</button>
                </div>
            </div>
        </div>
    </div>
    <div class="cpu-table-sec">
        <table>
            <thead>
                <tr>
                    <th>ရက်စွဲ</th>
                    <th>ဆိုဒ် ကုဒ်</th>
                    <th>ဆိုဒ် အမည်</th>
                    <th>နေ့စဉ် Report နံပါတ်</th>
                    <th>ဆိုဒ် အခြေအနေ</th>
                    <th>အကြောင်းပြချက် </th>
                    <th>ရာသီဥတု သက်ရောက်မှု</th>
                    <th>လုပ်ဆောင်မှု ပေ</th>
                    <th>လုပ်ဆောင်မှု ကျင်း</th>
                    <th>စုစုပေါင်း ဂျူတီ နာရီ</th>
                    <th>စုစုပေါင်း ဒီဇယ် ( ဂါလန် )</th>
                    <th>စုစုပေါင်း အခေါက်‌ရေ</th>
                    <th>စုစုပေါင်း လူဦးရေ</th>
                    <th>စုစုပေါင်း စက်ပစ္စည်း</th>
                    <th>ပြင်ဆင်မှု နဲ့ ထိန်းသိမ်းမှု</th>
                    <th>မတော်တဆ ထိခိုက်မှု</th>
                </tr>
            </thead>
            <tbody>
                {% for data in result %}
                <tr onclick="redirectToProjectStatForm('hidden-income-expense-id','hidden-income-expense-form','{{data[0]}}')">
                    <td class="text-end">{{data[1]}}</td>
                    <td class="text-start">{{data[2]}}</td>
                    <td class="text-wrap text-start" title="{{data[3]}}">{{data[3]}}</td>
                    <td class="text-start">{{data[4]}}</td>
                    <td class="text-start">{{data[5]}}</td>
                    <td class="text-start">{{data[6]}}</td>
                    <td class="text-end">{{data[7]}} % &nbsp;</td>
                    <td class="text-end">{{data[8]}}</td>
                    <td class="text-end">{{data[9]}}</td>
                    <td class="text-end">{{data[10]}}</td>
                    <td class="text-end">{{data[11]}}</td>
                    <td class="text-end">{{data[16]}}</td>
                    <td class="text-end">{{data[12]}}</td>
                    <td class="text-end">{{data[13]}}</td>
                    <td class="text-end">{{data[14]}}</td>
                    <td>
                        {% if data[15] %}
                            <span class="bg-danger bg-success text-light rounded-5 py-1 px-2">{{data[15]}}</span>
                        {% else %}
                            <span class="bg-success text-light rounded-5 py-1 px-2">{{data[15]}}</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% elif template_type == 'Edit List' %}
    <datalist id="machineData">
        {% for data in machine_datas %}
            <option value="{{data[0]}}" getId="{{data[1]}}">
        {% endfor %}
    </datalist>
    <datalist id="jobTypeData">
        {% for data in activity_jobs[0] %}
            <option value="{{data[0]}}" getId="{{data[1]}}">
        {% endfor %}
    </datalist>
    <datalist id="jobFunctionData">
        {% for data in activity_jobs[1] %}
            <option value="{{data[0]}}" getId="{{data[1]}}">
        {% endfor %}
    </datalist>
<form action="{{url_for('imports.delete_form')}}" hidden id="delete-form-id" method="post">
    <input type="text" value="" name="for_what" id="forWhat"/> 
    <input type="number" value="" name="delete_id" id="deleteId"/>
</form>
<div class="body-for-daily-table" id="body-for-daily-table">
    <div class="buttons-holder m-3">
        <button  type="button" onclick="deleteTheWholeForm('income_expense','{{form_datas[9]}}')" id="prjDelete"   class="btn btn-danger d-none">ဖျက်သိမ်းရန်</button>   
        {% if current_role  in [3,4] %}
        <button  type="button" onclick="editPrjStatis(this,'body-for-daily-table')" id="prjEdit"   class="btn btn-secondary">ပြင်ဆင်ရန်</button>   
        {% endif %}
        <a href="{{url_for('site_imports.daily_activity',typ='view')}}" class="nav-item">
            <button type="button"  class="btn btn-dark ms-3shadow-sm">မလုပ်ဆောင်တော့ပါ</button>
        </a>
        {% if current_role  in [3,4] %}
        <button class="btn btn-danger" style="float: right;" onclick="deleteFormData('{{daily_activity_id}}','daily_activity')">ဖျက်ပစ်ရန်</button> 
        {% endif %}
    </div>
    <h3>‌နေ့စဥ်လုပ်ဆောင်ချက်<i class="fa-solid fa-minus plus-sign" onclick="showUnderDisplay(this)"></i></h3>
    <form action="{{url_for('imports.site_imports',typ='daily-activity')}}" method="post">
        <input type="number" value="{{daily_activity_id}}" hidden name="daily-activity-edit-id"/>
        <section class="project-status-section add-table">
            <div class="first-div">
                <span>ဆိုဒ်အခြေအနေ</span>
                <label for="working">လုပ်နေသည်
                    <input type="radio" disabled {% if form_datas[15] %} checked {% endif %} value="working" name="work" id="working" autocomplete="off" onchange="notWork(this)">
                </label>
                <label for="notWorking">ရပ်ထားသည်
                    <input type="radio" disabled {% if not form_datas[15] %} checked {% endif %}  value="notWorking" name="work" id="notWorking" autocomplete="off" onchange="notWork(this)">
                </label>
                <input type="text" disabled {% if not form_datas[15] %} value="{{form_datas[16]}}" style="display: inline-block;" {% endif %} name="reason-for-not-working" autocomplete="off" id="notWorkingInput"><br>
            </div>
            <div class="sec-div">
                <span>နေ့စဉ် Report နံပါတ်</span>
                <span>- {{form_datas[13]}}</span>
                <span>နေ့စွဲ</span>
                <span>- <input disabled type="date" value="{{form_datas[14]}}" id="set_date" name="set_date"></span>
                <input type="text" hidden name="daily_acitivty_edit_report_no" value="{{form_datas[13]}}"/>
            </div>
        </section>
        <!-- xxx -->
        <h3>ဆိုဒ်အသေးစိတ်အချက်အလက်<i class="fa-solid fa-minus plus-sign" onclick="showUnderDisplay(this)"></i></h3>
        <section class="project-details-section add-table" id="projectDetailSec">

            <label class="label" style="display: block;">ဆိုဒ်ကုတ်</label>
            <span id="hoAcName">- {{form_datas[0]}}</span>

            <!-- <label class="label" style="display: block;">HO A/C Name</label>
            <span id="hoAcName">- {{form_datas[1]}}</span> -->

            <label class="label" style="display: block;">ဆိုဒ်အမည်</label>
            <span id="prjName">- {{form_datas[2]}}</span>

            <label class="label" style="display: block;">ဆိုဒ်တည်နေရာ</label>
            <span id="prjLoca">- {{form_datas[3]}}</span>

            <label class="label" style="display: block;">ဆိုဒ်စတင်ရက်</label>
            <label id="prjDate">- {{form_datas[4]}}</label>

            <label class="label" style="display: block;">ကြီးကြပ်ရေးမှုး</label>
            <span id="sprVisor">- {{form_datas[5]}}</span>

            <input type="number"  value="{{form_datas[12]}}" style="display: none;"  class="leePalKwar" name="pj_id">
        </section>
        <!-- xxx -->
        <!-- Affects of Weather On Project -->
        <h3>ရာသီဥတုအခြေအနေ<i class="fa-solid fa-plus plus-sign" onclick="showUnderDisplay(this)"></i></h3>
        <section class="weather add-table toggle-table" id="weather" onchange="selection()">
            <span>နေသာသည်</span>
            <input type="checkbox"  autocomplete="off" {% if form_datas[17] == 0 %} checked {% endif %} disabled id="noAff">
            <span>ရာသီဥတုသက်ရောက်မှုရာခိုင်နှုန်း</span>
            <input type="number" placeholder="%" {% if form_datas[17] not in (0,100) %} value="{{form_datas[17]}}"  {% endif %} disabled  autocomplete="off"  id="affPer">
            <span>မိုးရွာသည်</span>
            <input type="checkbox" {% if form_datas[17] == 100 %} checked {% endif %} disabled  autocomplete="off"  id="affAll">
            <input type="number"  required hidden id="wealtherAff" value="{{form_datas[17]}}" name="wealtherAff">
        </section>
                    
        <!-- xxx -->
        <h3>ခန့်မှန်းချက် နှင့် ရလဒ်<i class="fa-solid fa-plus plus-sign" onclick="showUnderDisplay(this)"></i></h3>
        <table class="estimate-result-table add-table toggle-table">
            <thead>
                <tr>
                    <th>အကြောင်းအရာ</th>
                    <th>ခန့်မှန်းချက်</th>
                    <th>ပြီးစီးမှု</th>
                    <th>လက်ကျန်</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ကြာချိန် ( ရက် )</td>
                    <td>{{form_datas[6]}}</td>
                    <td>0</td>
                    <td>{{form_datas[6]}}</td>
                </tr>
                <tr>
                    <td>ပေ</td>
                    <td>{{form_datas[7]}}</td>
                    <td class="d-none">{{history_datas[0]}}</td>
                    <td><input type="number" disabled value="{{form_datas[18]}}" name="completeFeet" onchange="calculateInlineValue(this)" step=".01" autocomplete="off" required></td>
                    <td>{{form_datas[7] - ( form_datas[18] + history_datas[1] )}}</td>
                </tr>
                <tr>
                    <td>ကျင်း</td>
                    <td>{{form_datas[8]}}</td>
                    <td class="d-none">{{history_datas[1]}}</td>
                    <td><input type="number" disabled value="{{form_datas[19]}}" name="completeSud" onchange="calculateInlineValue(this)" step=".01" autocomplete="off" required></td>
                    <td>{{form_datas[8] - ( form_datas[19] + history_datas[1] )}}</td>
                </tr>
                <tr>
                    <td>ဂျူတီ နာရီ</td>
                    <td class="traceHour">{{form_datas[9]}}</td>
                    <td class="d-none traceHour">{{history_datas[2]}}</td>                   
                    <td class="traceHour">{{form_datas[20]}}</td>
                    <td class="traceHour">{{form_datas[9] - form_datas[20]}}</td>
                </tr>
                <tr>
                    <td>ဒီဇယ် ( လီတာ )</td>
                    <td class="traceFuel">{{form_datas[10]}}</td>
                    <td class="d-none traceFuel">{{history_datas[3]}}</td>
                    <td class="traceFuel">{{form_datas[21]}}</td>
                    <td class="traceFuel">{{form_datas[10] - form_datas[21]}}</td>
                </tr>
                <tr>
                    <td>အသုံးစရိတ်</td>
                    <td>{{form_datas[11]}}</td>
                    <td>{{history_datas[4]}}</td>
                    <td>{{form_datas[11] - history_datas[4]}}</td>
                </tr>
            </tbody>
        </table>
        <!-- xxx -->
        <h3 {% if not form_datas[15] %} class="d-none" {% endif %}>လုပ်ဆောင်ချက်<i class="fa-solid fa-plus plus-sign" onclick="showUnderDisplay(this)"></i></h3>
        <div class="activities-table add-table toggle-table  {% if not form_datas[15] %} d-none {% endif %}">
            <table>
                <thead>
                    <tr>
                        <th>စဉ်</th>
                        <th>စက်</th>
                        <th>အလုပ်အမျိုးအစား</th>
                        <th>အလုပ်လုပ်ဆောင်ချက်</th>
                        <th>အခေါက်‌ရေ</th>
                        <th>အလုပ်ချိန်</th>
                        <th>လီတာ</th>
                        <th>မှတ်ချက်</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="activitiesTable">
                    {% for line_data in line_datas[0] %}
                    <tr>
                        <td>1</td>
                        <td><input type="text" value="{{line_data[1]}}" required name="machine_id" autocomplete="off" hidden><input id="toCheckDuty" type="text" value="{{line_data[2]}}" list="machineData" autocomplete="off" disabled style="width: 150px;" onchange="checkValidMachine(this,'machineData')"></td>
                        <td><input type="text" value="{{line_data[3]}}" required name="job_type_id" autocomplete="off" hidden><input type="text" value="{{line_data[4]}}" list="jobTypeData" autocomplete="off" disabled style="width: 150px;" onchange="checkValidMachine(this,'jobTypeData')"></td>
                        <td><input type="text" value="{{line_data[5]}}" required name="job_function_id" autocomplete="off" hidden><input type="text"  value="{{line_data[6]}}" list="jobFunctionData" autocomplete="off" disabled style="width: 150px;" onchange="checkValidMachine(this,'jobFunctionData')"></td>
                        <td><input disabled type="number" step="any" value="{{line_data[11]}}" autocomplete="off" name="ways"></td>
                        <td class="duty-hour"><input type="number" disabled value="{{line_data[7]}}" placeholder="hour" onchange="checkHour(this)" id="dutyHour" name="dutyHour" autocomplete="off" required>:<input disabled type="number" value="{{line_data[8]}}" name="dutyMin"  placeholder="min" onchange="checkMin(this)" id="dutyMin" autocomplete="off" required></td>
                        <td><input disabled type="number" step="any"  style="width: 80px;" name="used_fuel"  autocomplete="off" value="{{line_data[9]}}" required></td>
                        <td><input disabled type="text" name="description" value="{{line_data[10]}}" autocomplete="off"></td>
                        <td><button disabled  type="button" onclick="deleteRow(this)" class="btn btn-outline-danger"><i class="fa-solid fa-trash trash-icon"></i></button></td>
                    </tr>
                    {% endfor %}
                    <tr class="add-btn">
                        <td class="activityBtn"><button onclick="newRow(this)"  disabled  type="button">+</button></td>
                    </tr>
                    <tr class="d-none">
                        <td>1</td>
                        <td><input type="text" class="shouldRequired" name="machine_id" autocomplete="off" hidden><input type="text" list="machineData" autocomplete="off" style="width: 150px;" id="toCheckDuty" onchange="checkValidMachine(this,'machineData')"></td>
                        <td><input type="text" class="shouldRequired" name="job_type_id" autocomplete="off" hidden><input type="text" list="jobTypeData" autocomplete="off" style="width: 150px;" onchange="checkValidMachine(this,'jobTypeData')"></td>
                        <td><input type="text" class="shouldRequired" name="job_function_id" autocomplete="off" hidden><input type="text" list="jobFunctionData" autocomplete="off" style="width: 150px;" onchange="checkValidMachine(this,'jobFunctionData')"></td>
                        <td><input type="number" step="any"  autocomplete="off" name="ways"></td>
                        <td class="duty-hour"><input type="number" placeholder="hour" onchange="checkHour(this)" id="dutyHour" name="dutyHour" autocomplete="off" class="shouldRequired">:<input type="number" name="dutyMin"  placeholder="min" onchange="checkMin(this)" id="dutyMin" autocomplete="off" class="shouldRequired"></td>
                        <td><input type="number" step="any"  style="width: 80px;" name="used_fuel"  autocomplete="off" class="shouldRequired"></td>
                        <td><input type="text" name="description" autocomplete="off"></td>
                        <td><button type="button" onclick="deleteRow(this)" class="btn btn-outline-danger"><i class="fa-solid fa-trash trash-icon"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- xxx -->
        <h3>လုပ်သားဦးရေ နှင့် စက်ပစ္စည်း<i class="fa-solid fa-plus plus-sign" onclick="showUnderDisplay(this)"></i></h3>
        <div class="manpower add-table toggle-table">
            <table id="acc-table" class="manpower-equiment-table">
                <thead>
                    <tr>
                        <th colspan="3">လုပ်သားဦးရေ</th>
                        <th colspan="3">စက်ပစ္စည်း</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ရာထူး</td>
                        <td>ဆိုဒ်ထဲရှိလူဦးရေ</td>
                        <td>အလုပ်လုပ်သည့် လူဦးရေ</td>
                        <td>စက်ပစ္စည်း အမျိုးအစား</td>
                        <td>ဆိုဒ်ထဲရှိ စက် အရေအတွက်</td>
                        <td>အလုပ်လုပ်သည့် စက် အရေအတွက်</td>
                    </tr>
                    {% for data in extra_datas[1] %}
                    <tr>
                        <td>{{data[0][0]}}</td>
                        <td>{% if data[0][0] != '' %} {{data[0][1]}} {% endif %}</td>
                        <td>
                            {% if data[0][0] == 'Total' %}
                            <p id="manpower_amt">0</p>
                            {% else %}
                            <input disabled onchange="checkInpNumber(this,0,'{{data[0][1]}}')" {% if data[0][0] == "" or data[0][0] == 'Total' %} hidden {% else %} name="manpower_amt" value="{{data[0][3]}}" required {% endif %} type="number" autocomplete="off">
                            {% endif %}
                            <input type="number" value="{{data[0][2]}}" {% if data[0][2] != 0 %} name="manpower_id" {% endif %} hidden/>
                        </td>
                        <td>{{data[1][0]}}</td>
                        <td>{% if data[1][0] != '' %} {{data[1][1]}} {% endif %}</td>
                        <td>
                            {% if data[1][0] == 'Total' %}
                            <p id="type_amt">0</p>
                            {% else %}
                            <input disabled onchange="checkInpNumber(this,0,'{{data[1][1]}}')" type="number" {% if data[1][0] == "" or data[1][0] == 'Total' %} hidden {% else %} required name="type_amt" value="{{data[1][3]}}" {% endif %} autocomplete="off">
                            {% endif %}
                            <input type="number" value="{{data[1][2]}}" {% if data[1][2] != 0 %} name="type_id" {% endif %}  hidden/>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- repair & maintainance -->
        <h3>စက်ပြုပြင်စာရင်း<i class="fa-solid fa-plus plus-sign" onclick="showUnderDisplay(this)"></i></h3>
            <div class="activities-table add-table toggle-table">
                <table>
                    <thead>
                        <tr>
                            <th>စဉ်</th>
                            <th>စက်ပစ္စည်း အမျိုးအစား</th>
                            <th>အကြောင်းအရာ</th>
                            <th>ထိခိုက်မှု</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody  id="repairTable">
                        {% for line_data in line_datas[1] %}
                        <tr>
                            <td>1</td>
                            <td><input  type="text" required name="acc_machine_id" value="{{line_data[1]}}" autocomplete="off" hidden><input type="text" disabled value="{{line_data[2]}}" list="machineData" autocomplete="off" style="width: 150px;" onchange="checkValidMachine(this,'machineData')"></td>
                            <td><input disabled type="text" autocomplete="off" value="{{line_data[3]}}" required name="acc_description"></td>
                            <td><input disabled type="checkbox" {% if line_data[4] %} checked {% endif %} onchange="addValueToCheckBox(this)" ><input hidden type="number" value="0" name="hasAccident"></td>
                            <td><button disabled type="button" onclick="deleteRow(this)" class="btn btn-outline-danger"><i class="fa-solid fa-trash trash-icon"></i></button></td>
                        </tr>
                        {% endfor %}
                        <tr class="add-btn">
                            <td class="repairBtn"><button onclick="newRow(this)" disabled  type="button">+</button></td>
                        </tr>
                        <tr class="d-none">
                            <td>1</td>
                            <td><input type="text" class="shouldRequired" name="acc_machine_id" autocomplete="off" hidden><input type="text" list="machineData" autocomplete="off" style="width: 100%;" onchange="checkValidMachine(this,'machineData')"></td>
                            <td><input type="text" class="shouldRequired" name="acc_description"></td>
                            <td><input type="checkbox"  onchange="addValueToCheckBox(this)"><input hidden type="number" value="0" name="hasAccident"></td>
                            <td><button type="button" onclick="deleteRow(this)" class="btn btn-outline-danger"><i class="fa-solid fa-trash trash-icon"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <div class="btn-bg">
            <button class="submit-btn d-none" id="edit-submit-btn-pj-stat" type="submit">အတည်ပြုပါသည်</button>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}

{% block project_datas %}
    {% for data in project_datas %}
        <p class="m-1 ms-2" shopid="{{data[0]}}" projectcode="{{data[1]}}" onclick="assignShop(this)">{{data[2]}} _&_ {{data[1]}}</p>
    {% endfor %}
{% endblock %}

{% block mgsContent %}{{ mgs | safe }}{% endblock %}