{% extends 'base.html' %}

{% block title %} Imports {% endblock %}
{% block styles %}
    <script src="{{url_for('static',filename='scripts/site-imports.js')}}"></script>
{% endblock %}
{% block content %}


<h3 class="text-center m-4"> {{name}} Import</h3>

{% if name == 'Project Line' %}

<div class="m-5 mt-1">
    <div class="card card-body">
        <form class="gx-3 gy-2 align-items-center ms-4 me-4 mt-2" action="/import/upload" method="post">
            <input type="text" hidden name="db"  value="analytic_project_code">
            <div class="col-sm-3"><input type="text" name="pj-datas" class="form-control" placeholder="ဆိုဒ် ကုဒ်" aria-label="Username" required autocomplete="off"></div>
            <div class="col-sm-3"><input type="text" name="pj-datas" class="form-control" placeholder="ဆိုဒ် အမည်" aria-label="Server" required autocomplete="off"></div>
            <div class="col-sm-3">
                <input type="text" name="pj-datas" list="grouplistOptions" class="form-control" placeholder="ဆိုဒ် ဂရု ကုဒ်" aria-label="Username" required autocomplete="off">
                <datalist id="grouplistOptions" style="height: 100px;">
                    {% for dta in data['Project Group'] %}
                        <option value="{{dta[0]}}">
                    {% endfor %}
                </datalist>
            </div>
            <div class="col-sm-3">
                <input type="text" list="datalistOptions" list="typelistOptions" name="pj-datas" class="form-control" placeholder="ဆိုဒ် အမျိုးအစား" aria-label="Server" required autocomplete="off">
                <datalist id="typelistOptions" style="height: 100px;">
                    {% for dta in data['Project Type'] %}
                        <option value="{{dta[0]}}">
                    {% endfor %}
                </datalist>
            </div>
            <div class="col-sm-3">
                <input class="form-control" list="datalistOptions" autocomplete="off" name="pj-datas" id="exampleDataListCode" placeholder="Business Unit" required autocomplete="off">
                <datalist id="datalistOptions" style="height: 100px;">
                    {% for dta in data['Business Unit'] %}
                        <option value="{{dta[0]}}">
                    {% endfor %}
                </datalist>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

{% elif name == 'Machine Line' %}

<div class="m-5 mt-1">
    <div class="card card-body">
        <form class="row gx-3 gy-2 align-items-center ms-4 me-4 mt-2" action="/import/upload" method="POST">
            <input type="text" hidden name="db" value="fleet_vehicle">
            <div class="col-sm-3"><input type="text" name="vehicle-datas" class="form-control" placeholder="Machine Name" aria-label="Username" autocomplete="off"></div>
            <div class="col-sm-3">
                <input type="text" name="vehicle-datas" autocomplete="off" class="form-control" list="datalistOptionsType" placeholder="Machine Type" aria-label="Server" autocomplete="off">
                <datalist id="datalistOptionsType" style="height: 100px;">
                    {% for dta in data['Machine Type'] %}
                        <option value="{{dta[0]}}">
                    {% endfor %}
                </datalist>
            </div>
            <div class="col-sm-3">
                <input type="text" name="vehicle-datas" list="datalistOptionsClass" class="form-control" autocomplete="off" placeholder="Machine Class" aria-label="Username" autocomplete="off">
                <datalist id="datalistOptionsClass" style="height: 100px;">
                    {% for dta in data['Machine Class'] %}
                        <option value="{{dta[0]}}">
                    {% endfor %}
                </datalist>
            </div>
            <div class="col-sm-3">
                <input type="text" name="vehicle-datas" list="datalistOptionsCapacity" class="form-control" placeholder="Machine Capacity" aria-label="Server" autocomplete="off">
                <datalist id="datalistOptionsCapacity" style="height: 100px;">
                    {% for dta in data['Machine Capacity'] %}
                        <option value="{{dta[0]}}">
                    {% endfor %} 
                </datalist>
            </div>
            <div class="col-sm-3">
                <input type="text" name="vehicle-datas" list="datalistOptionsBrand" class="form-control" placeholder="Machine Brand" aria-label="Username" autocomplete="off">
                <datalist id="datalistOptionsBrand" style="height: 100px;">
                    {% for dta in data['Machine Brand'] %}
                        <option value="{{dta[0]}}">
                    {% endfor %}
                </datalist>
            </div>
            <div class="col-sm-3">
                <input type="text" name="vehicle-datas" class="form-control" list="datalistOptionsUnit" placeholder="Business Unit" aria-label="Server" autocomplete="off">
                <datalist id="datalistOptionsUnit" style="height: 100px;">
                    {% for dta in data['Business Unit'] %}
                        <option value="{{dta[0]}}">
                    {% endfor %}
                </datalist>
            </div>
            <div class="col-sm-3">
                <input type="text" name="vehicle-datas" list="datalistOptionsOwner" class="form-control" placeholder="Owner Name" aria-label="Server" autocomplete="off">
                <datalist id="datalistOptionsOwner" style="height: 100px;">
                    {% for dta in data['Owner'] %}
                        <option value="{{dta[0]}}">
                    {% endfor %}
                </datalist>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

{% elif name == 'Project Statistics Line' %}

<div class="m-3 prj-statis">
    <div class="card card-body shadow-sm" style="background-color: #3E517A;">
        <form class="row gx-3 gy-2 align-items-center m-2" action="/import/upload" method="POST">
            <input type="text" hidden name="db" value="fleet_vehicle">
            <div class="col-sm-3">
                <input class="form-control" list="datalistOptions" name="code" id="exampleDataListCode" placeholder="ဆိုဒ် ကုဒ် / ဆိုဒ်အမည် " required autocomplete="off">
                <datalist id="datalistOptions" style="height: 100px;">
                    {% for dta in  data['Project Code'] %}
                        <option value="{{dta[0]}}">
                    {% endfor %}
                </datalist>
            </div>
            <div class="col-sm-3"><input type="text" name="location" class="form-control" placeholder="ဆိုဒ် တည်နေရာ" required autocomplete="off"></div>
            <div class="col-sm-3"><input type="date"  name="pj-start-date" class="form-control" placeholder="ဆိုဒ် စတင်ရက်" required autocomplete="off"></div>
            <div class="col-sm-3"><input type="text" name="supervisior" class="form-control site-supervisors" placeholder="တာဝန်ခံ" required autocomplete="off"></div>
            <div class="col-sm-3"><input type="number"  name="feet" class="form-control" placeholder="ပမာဏပေ" required autocomplete="off"></div>
            <div class="col-sm-3"><input type="number" name="will-sud" class="form-control" placeholder="ပမာဏကျင်း" required autocomplete="off"></div>
            <div class="col-sm-3"><input type="number" name="sud" class="form-control" placeholder="ဆောင်ရွက်မည့်ကျင်း" required autocomplete="off"></div>
            <div class="col-sm-3"><input type="number" step=".01" name="duty" class="form-control" placeholder="Estimate Duty" required autocomplete="off"></div>
            <div class="col-sm-3"><input type="number" step=".01" name="fuel" class="form-control" placeholder="Estimate Fuel" required autocomplete="off"></div>
            <div class="col-sm-3"><input type="number" step=".01" name="expense" class="form-control" placeholder="Estimate Expenses" required autocomplete="off"></div>
            <div class="col-sm-3"><input type="number" step=".01" name="estimate_day" class="form-control" placeholder="Estimate Day" required autocomplete="off"></div>
            <div class="col-sm-3"><input type="text" name="hoAccountname" class="form-control" placeholder="ရုံးစရင်းကိုင်" required autocomplete="off"></div>

            <div class="machine-name-container">
                <div class="row table-div">
                    <div class="mt-3 added machine-name-table col-md-12">
                            <table class="table table-sm table-striped mechanni-table" >
                                <thead>
                                    <tr class="fs-6 text-dark py-2 text-center">
                                        <th class="bg-warning">Machine Name</th>
                                        <th class="bg-warning">Type</th>
                                        <th class="bg-warning"></th>
                                    </tr>
                                </thead>
                                <tbody id="machineListForProjectStats">
                                    <tr class="text-center fs-6">
                                        <td class="overflow-auto">2B/9382 (NO.209) (3200 GL) (10 WHEELS) Daewoo</td>
                                        <td>Budozor</td>
                                        <td><button class="btn btn-sm btn-success me-2">Transfer</button><button class="btn btn-sm btn-danger">Remove</button></td>
                                    </tr>
                                    <tr  style="position: sticky;bottom: 0;">
                                        <td class="text-center" colspan="3"><button class="btn btn-md btn-primary text-white"  type="button" onclick="addInput(this)">Add Machine<i class="fa-solid fa-plus ms-2"></i></button></td>
                                    </tr>
                                </tbody>
                            </table> 
                        <datalist id="machinelistOptions" style="height: 100px;">
                            {% for dta in  data['Machine'] %}
                                <option value="{{dta[0]}}">
                            {% endfor %}
                        </datalist> 
                    </div>
                    <div class="mt-3 added machine-name-table col-md-12">
                        <table class="table table-sm table-striped mechanni-table">
                                <thead>
                                    <tr class="fs-6 text-dark py-2 text-center">
                                        <th class="bg-warning">Mechanician</th>
                                        <th class="bg-warning">Men Power</th>
                                        <th class="bg-warning"></th>
                                    </tr>
                                </thead>
                                <tbody id="machineListForProjectStats">
                                    <tr class="text-center fs-6">
                                        <td class="overflow-auto">2B/9382 (NO.209) (3200 GL) (10 WHEELS) Daewoo</td>
                                        <td>10</td>
                                        <td><button class="btn btn-sm btn-success me-2">Transfer</button><button class="btn btn-sm btn-danger">Remove</button></td>
                                    </tr>
                                    <tr  style="position: sticky;bottom: 0;">
                                        <td class="text-center men-power" colspan="3"><button class="btn btn-md btn-primary text-white"  type="button" onclick="addInput(this)">Add Machine<i class="fa-solid fa-plus ms-2"></i></button></td>
                                    </tr>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                                    </ul>
                                </tbody>
                        </table> 
                        <datalist id="machinelistOptions" style="height: 100px;">
                            {% for dta in  data['Machine'] %}
                                <option value="{{dta[0]}}">
                            {% endfor %}
                        </datalist> 
                    </div>
                </div>
    
                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Check the data carefully!</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div id="inside-statistics-modal-body" class="modal-body"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" id="inModalStatisticsClose" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" id="inModalStatistics" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="machine-name-container"> -->
                <!-- <div class="col mt-3">
                    <input class="form-control rounded-end" list="machinelistOptions" onchange="chooseMachineInSelect(this)" placeholder="စက်ကားများ" autocomplete="off">
                    <datalist id="machinelistOptions" style="height: 100px;">
                        {% for dta in  data['Machine'] %}
                            <option value="{{dta[0]}}">
                        {% endfor %}
                    </datalist>
                </div> -->
                <!-- <div class="col rounded table-responsive mt-3 added machine-name-table"> -->
                    <!-- <table class="table rounded table-bordered text-center align-middle">
                        <thead class="table-dark">
                            <tr style='font-size:13px;'>
                                <th>Machine Name</th>
                                <th>Machine Name</th>
                                <th> # </th>
                            </tr>
                        </thead>
                        <tbody id="machineListForProjectStats"></tbody>
                    </table>   -->
                <!-- </div> -->
            <!-- </div> -->

            <div class="machine-name-containerg">
                <div class="col button-div mt-1 justify-content-center d-flex">
                    <!-- Button trigger modal -->
                    <button type="button" onclick="checkSupervisor()" class="btn btn-success w-25 shadow-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        Submit
                    </button>                
                </div>            
            </div>
        </form>
    </div>
</div>

{% endif  %}



<!-- Button trigger modal -->
<button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal" id="autoClicker"></button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-danger-emphasis" id="exampleModalLabel">User Error</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalUserWarn">
        <strong>{{mgs | safe }}</strong> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}