{% extends 'base.html' %}

{% block title %} Imports {% endblock %}

{% block content %}

<h2 class="text-center mt-3">Machine Details Table</h2>
<div class="container text-center mt-5">
  <div class="row">
    {% for name,datas in data.items() %}
    <div class="col scroll-bar mt-3">
      <div class="table-responsive table-container scroll-bar">
        <table class="table table-striped">
          <thead>
            <tr class="table-dark">
              <th>{{name}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <form method="POST" action="/import/upload-each-machine-details">
                  <input type="text" style="display: none;" name="table" value="{{name}}">
                  <button class="button-83"  role="button" onclick="create_add_machine_input(this,event)">Add Data</button>
                  <div class="div-machine-details" style="display: none;">
                      <input type="text" id="enter" name="data" class="add-machine-details" value="{% if request.form.get('data')  %}  {{request.form.get('data')}} {% else %}  {% endif %}"  placeholder="Type.." onkeyup="search_and_add(this,event)">
                      <button id="clear" type="submit" class="submit-in-input" onclick="insert_data_and_return_back_button(this)">Submit</button>
                  </div>
                </form>
              </td>
            </tr>
            {% for dt in datas%}
            <tr>
              <td>
                {{dt[1]}} <button onclick="chngInp(this)" class="edit-pen-btn" id="{{dt[0]}}" dbTable="{{name}}" data-machine="{{dt[1]}}"><i class="fa-solid fa-pencil"></i></button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


<h3 class="text-center m-4"> Project Data Line Import</h3>
<div class="m-5 mt-1">
    <div class="card card-body">
        <form class="row gx-3 gy-2 align-items-center ms-4 me-4 mt-2" action="/import/upload" method="post">
            <input type="text" hidden name="db"  value="analytic_project_code">
            <div class="col-sm-3"><input type="text" name="pj-datas" class="form-control" placeholder="ဆိုဒ် ကုဒ်" aria-label="Username" required></div>
            <div class="col-sm-3"><input type="text" name="pj-datas" class="form-control" placeholder="ဆိုဒ် အမည်" aria-label="Server" required></div>
            <div class="col-sm-3"><input type="text" name="pj-datas" class="form-control" placeholder="ဆိုဒ် ဂရု ကုဒ်" aria-label="Username" required></div>
            <div class="col-sm-3"><input type="text" list="datalistOptions" name="pj-datas" class="form-control" placeholder="ဆိုဒ် အမျိုးအစား" aria-label="Server" required></div>
            <div class="col-sm-3">
                <input class="form-control" list="datalistOptions" autocomplete="off" name="pj-datas" id="exampleDataListCode" placeholder="Business Unit" required>
                <datalist id="datalistOptions" style="height: 100px;">
                    {% for dta in data['Business Unit'] %}
                        <option value="{{dta[1]}}">
                    {% endfor %}
                </datalist>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

<h3 class="text-center m-4"> Machine Data Line Import</h3>
<div class="m-5 mt-1">
    <div class="card card-body">
        <form class="row gx-3 gy-2 align-items-center ms-4 me-4 mt-2" action="/import/upload" method="POST">
            <input type="text" hidden name="db" value="fleet_vehicle">
            <div class="col-sm-3"><input type="text" name="vehicle-datas" class="form-control" placeholder="Machine Name" aria-label="Username"></div>
            <div class="col-sm-3">
                <input type="text" name="vehicle-datas" autocomplete="off" class="form-control" list="datalistOptionsType" placeholder="Machine Type" aria-label="Server">
                <datalist id="datalistOptionsType" style="height: 100px;">
                    {% for dta in data['Machine Type'] %}
                        <option value="{{dta[1]}}">
                    {% endfor %}
                </datalist>
            </div>
            <div class="col-sm-3">
                <input type="text" name="vehicle-datas" list="datalistOptionsClass" class="form-control" autocomplete="off" placeholder="Machine Class" aria-label="Username">
                <datalist id="datalistOptionsClass" style="height: 100px;">
                    {% for dta in data['Machine Class'] %}
                        <option value="{{dta[1]}}">
                    {% endfor %}
                </datalist>
            </div>
            <div class="col-sm-3">
                <input type="text" name="vehicle-datas" list="datalistOptionsCapacity" class="form-control" placeholder="Machine Capacity" aria-label="Server">
                <datalist id="datalistOptionsCapacity" style="height: 100px;">
                    {% for dta in data['Machine Capacity'] %}
                        <option value="{{dta[1]}}">
                    {% endfor %}
                </datalist>
            </div>
            <div class="col-sm-3">
                <input type="text" name="vehicle-datas" list="datalistOptionsBrand" class="form-control" placeholder="Machine Brand" aria-label="Username">
                <datalist id="datalistOptionsBrand" style="height: 100px;">
                    {% for dta in data['Machine Brand'] %}
                        <option value="{{dta[1]}}">
                    {% endfor %}
                </datalist>
            </div>
            <div class="col-sm-3">
                <input type="text" name="vehicle-datas" class="form-control" list="datalistOptionsUnit" placeholder="Business Unit" aria-label="Server">
                <datalist id="datalistOptionsUnit" style="height: 100px;">
                    {% for dta in data['Business Unit'] %}
                        <option value="{{dta[1]}}">
                    {% endfor %}
                </datalist>
            </div>
            <div class="col-sm-3">
                <input type="text" name="vehicle-datas" list="datalistOptionsOwner" class="form-control" placeholder="Owner Name" aria-label="Server">
                <datalist id="datalistOptionsOwner" style="height: 100px;">
                    {% for dta in data['Owner'] %}
                        <option value="{{dta[1]}}">
                    {% endfor %}
                </datalist>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>


<div style="margin-top: 80px;"></div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal" id="autoClicker"></button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-danger-emphasis" id="exampleModalLabel">User Error</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalUserWarn">
        <strong>{{mgs | safe }}</strong> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}