{% extends 'base.html' %}
{% block title %} Data Reports {% endblock %}
{% block styles %}
    <link href="{{url_for('static',filename='styles/site-reports.css')}}" rel="stylesheet"/>
{% endblock %}
{% block content %}
<h3 class="text-center mt-2">Income Expense Report</h3>
<hr/><h4 class="text-center second-header-income-expense">{{extra_datas[1]}}({{extra_datas[0]}})</h4><hr/>
<h5 class="text-center">From - <strong> {{extra_datas[2]}} </strong> To - <strong> {{extra_datas[3]}} </strong></h5>
<form action="/duty/income-expense-report" class="monthlyformInModal" method="POST">
    <input hidden type="text" value="{{extra_datas[0]}}_&_{{extra_datas[1]}}" name="pj_name">
    <input hidden="number" value="{{extra_datas[5]}}" name="pj_id">
    <input hidden="date" value="{{extra_datas[2]}}" name="start_date_for_each">
    <input hidden type="date" value="{{extra_datas[3]}}"  name="end_date_for_each">
    <input hidden type="text" value="" name="for_what_type" id="for_what_type">
    <button type="submit" class="btn btn-sm btn-success m-1 d-inline" onclick="{document.getElementById('for_what_type').value = 'excel'}"><i class="fas fa-print"></i> Excel Print</button>
    <button type="submit" class="btn btn-sm btn-outline-dark m-1 d-inline" onclick="{document.getElementById('for_what_type').value = 'pdf'}"><i class="fas fa-print"></i> PDF Print</button>
</form>
<div id="inExReport">
    <div class="inExRow" onclick="showDrop(this)">
        <ul id="totalRow">
            <li class="fs-3"><b>စုစုပေါင်း</b></li>
            <li>Opening လက်ကျန်ငွေ<br><b class="fs-5 toAddCommaForAmt">{{extra_datas[4][0]}}</b></li>
            <li>အဝင်<br><b class="fs-5 toAddCommaForAmt">{{extra_datas[4][1]}}</b></li>
            <li>အထွက်<br><b class="fs-5 toAddCommaForAmt">{{extra_datas[4][2]}}</b></li>
            <li>လက်ကျန်<br><b class="fs-5 toAddCommaForAmt">{{extra_datas[4][3]}}</b></li>
        </ul>
        {% if result_datas|length != 0 %}
            <div class="dropBox">
                <table>
                    <tr>
                        <thead id="detialHead">
                            <th class="py-2" style="width: 15%">နေ့စွဲ</th>
                            <th style="width: 25%">အကြောင်းအရာ</th>
                            <th style="width: 15%">ဘောင်ချာ</th>
                            <th style="width: 10%">အဝင်</th>
                            <th style="width: 10%">အထွက်</th>
                            <th style="width: 10%">လက်ကျန်</th>
                            <th style="width: 20%">မှတ်ချက်</th>
                        </thead>
                        <tbody id="tbody">
                            <tr style="background-color: #c1c1c1;">
                                <td class="py-2">{{result_datas[0][0]}}</td>
                                <td class="text-start">Opening Balance</td>
                                <td class="py-2"></td>
                                <td class="text-end"></td>
                                <td class="text-end"></td>
                                <td class="text-end toAddCommaForAmt">{{extra_datas[4][0]}}</td>
                                <td class="ps-2 text-start"></td>
                            </tr>
                            {% for result_data in result_datas %}
                            <tr>
                                <td class="text-center">{{result_data[0]}}</td>
                                <td class="text-start">{{result_data[1]}}</td>
                                <td class="">{{result_data[2]}}</td>
                                <td class="text-end toAddCommaForAmt">{{result_data[3]}}</td>
                                <td class="text-end toAddCommaForAmt">{{result_data[4]}}</td>
                                <td class="text-end toAddCommaForAmt">{{result_data[5]}}</td>
                                <td class="ps-2 text-start">{{result_data[6]}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </tr>
                </table>
            </div>
        {% endif%}
    </div>
</div>
{% endblock %}

{% block project_datas %}
    {% for data in project_datas %}
        <p class="m-1 ms-2" shopid="{{data[0]}}" projectcode="{{data[1]}}" onclick="assignShop(this)">{{data[2]}} _&_ {{data[1]}}</p>
    {% endfor %}
{% endblock %}