{% extends 'base.html' %}
{% block title %} Summary Statistics {% endblock %}
{% block content %}


{% if result_data %}
<div class="container">
    <h4 class="text-center mt-3">{{result_data[3]}}</h4>
    <h4 class="text-center">{{result_data[2]}}</h4>
    <button onclick="exportTablesToExcel('header-table-one','summary-table-one','summary-table-two')" class="btn btn-info ms-4">Export Data to Excel</button>

    <div class="row">
        <div class="col">
            <div class="text-center m-3">
                <table class="table table-borderless" id="header-table-one">
                    <tbody class="text-nowrap text-end">
                        <tr>
                            <td >တာဝန်ခံ အမည်</td>
                            <td >{{result_data[4]}}</td>
                            <td >ပမာဏ ပေ</td>
                            <td >{{result_data[11]}}</td>
                            <td class="d-none">ဆိုဒ် တည်နေရာ </td>
                            <td class="d-none">{{result_data[18]}}</td>
                        </tr>
                        <tr>
                            <td>ဆောင်ရွက်ရမည့် ကျင်း</td>
                            <td>{{result_data[13]}}</td>
                            <td>ပမာဏ ကျင်း</td>
                            <td>{{result_data[17]}}</td>
                            <td class="d-none">ဆိုဒ် စတင်ရက်</td>
                            <td class="text-start d-none">{{result_data[20]}}</td>
                        </tr>
                    </tbody>
                </table> 
            </div>
        </div>
        <div class="col"></div>
        <div class="col">
            <h2 
                {% if result_data[1] == 'IN PROGRESS' %} class='uc  uc-sm uc-pos-fix center flex-end' 
                {% else %} class='uc uc-complete uc-sm uc-pos-fix center flex-end'
                {% endif %}
            >
                <i class='fa fa-exclamation-triangle fst-span'></i>
                <span>
                    {{ result_data[1] }}
                </span>
                <i class='fa fa-exclamation-triangle'></i>
            </h2>            
        </div>        
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-bordered" id="summary-table-one">
                <thead class="text-center">
                    <tr>
                        <th>#</th> 
                        <th>Estimate</th> 
                        <th>Actual</th> 
                        <th>Balance</th> 
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <th>Duty</th>
                        <td>{{result_data[5]}}</td>
                        <td>{{result_data[6]}}</td>
                        {% if (result_data[5]-result_data[6]) < 0 %}
                            <td class="bg-danger">{{result_data[5]-result_data[6]}}</td>
                        {% else %}
                            <td class="bg-success-subtle">{{result_data[5]-result_data[6]}}</td>
                        {% endif %}
                        
                    </tr>
                    <tr>
                        <th>Fuel</th>
                        <td>{{result_data[7]}}</td>
                        <td>{{result_data[8]}}</td>
                        {% if (result_data[7]-result_data[8]) < 0 %}
                            <td class="bg-danger">{{result_data[7]-result_data[8]}}</td>
                        {% else %}
                            <td class="bg-success-subtle">{{result_data[7]-result_data[8]}}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Expense</th>
                        <td>{{result_data[9]}}</td>
                        <td>{{result_data[10]}}</td>
                        {% if (result_data[9]-result_data[10]) < 0 %}
                        <td class="bg-danger">{{result_data[9]-result_data[10]}}</td>
                        {% else %}
                            <td class="bg-success-subtle">{{result_data[9]-result_data[10]}}</td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table table-bordered" id="summary-table-two">
                <thead class="text-center">
                    <tr>
                        <th>#</th> 
                        <th>Feet</th> 
                        <th>Sud</th> 
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <th>Contract</th>
                        <td>{{result_data[11]}}</td>
                        <td>{{result_data[13]}}</td>
                    </tr>
                    <tr>
                        <th>Actual</th>
                        <td>{{result_data[12]}}</td>
                        <td>{{result_data[14]}}</td>
                    </tr>
                    <tr>
                        <th>Balnce</th>
                        <td>{{result_data[11]-result_data[12]}}</td>
                        <td>{{result_data[13]-result_data[14]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% else %}
<h2 class="text-center text-danger mt-3">No data was found for your project</h2>
<h4 class="text-center">{{pj_summary_name}}</h4>
<h6 class="text-center text-danger">Please update data in duty_odoo_report to make summary analyze this project!!!!!</h6>
{% endif %}

{% endblock %}

{% block project_datas %}
    {% for data in project_datas %}
        <p class="m-1 ms-2" shopid="{{data[0]}}" projectcode="{{data[1]}}" onclick="assignShop(this)">{{data[2]}} _&_ {{data[1]}}</p>
    {% endfor %}
{% endblock %}